/*
    For MOBILE Devices
*/

/* ---------------------------------------------------------------------- */

* { box-sizing: border-box; }

[class*="col-"] { 
    float: left; 
    padding: 1%; 
    width: 100%; 
}

html { 
    background-color: beige;
    font-family: "Lucida Sans", sans-serif;
 }

header {
    background-color: darkgreen;
    box-shadow: 2px 1px 3px black
}

.content {
    margin-top: 2%;
    margin-bottom: 2%;
}


.content::after, .content::before {
    content: "";
    clear: both;
    display: block;
}

nav {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    background-color: silver;
    justify-content: space-evenly;
}

nav a {
    padding: 2%;
    margin: 2%;
    display: block;
    color: silver;
    position: sticky;
    background-color: green;
    text-align: center;
    box-shadow: 2px 1px 3px black;
}

nav a:hover { 
    color: black;
    font-weight: bolder;
    background-color: yellowgreen; 
    box-shadow: 2px 1px 3px black inset;
}

aside { padding: 5%; }

footer {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    color: darkgreen;
    background-color: silver;
    box-shadow: 2px 1px 3px black inset;
}

/* ---------------------------------------------------------------------- */

#logo {
    width: 50%;
    height: auto;
    box-shadow: none;
}

[id*="img-"] {
    width: 30%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: silver;
}

[id*="img-"]:hover {
    background-color: green;
}

#box_art {
    padding: 1%;
    text-align: center;
    box-shadow: 0 1px 3px black, 0 1px 2px black;
}

iframe {
    padding: 5%;
    display: none;
}

#trailers {
    padding: 5%;
}

